{% extends 'baseAdmin.html.twig' %}

{% block title %}Offre d'emploi{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Offre d'emploi</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <div class="d-md-flex">
                        <ol class="breadcrumb ms-auto">
                            <li><a href="{{path('app_admin_offre_demploi_index')}}" class="fw-normal">Dashboard</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Liste des offres d'emploi</h3>
                    <a c href="{{ path('app_admin_offre_demploi_new') }}" class="btn btn-success">Ajouter une offre d'emploi</a>
                    <div class="table-responsive">
                        <table class="table table-striped text-nowrap">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Titre</th>
                                    <th>Experience</th>
                                    <th>Type de contrat</th>
                                    <th>Horaires</th>
                                    <th>Region</th>
                                    <th>Description</th>
                                    <th>Date de publication</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for offre_emploi in offre_emplois %}
                                <tr>
                                    <td>{{ offre_emploi.id }}</td>
                                    <td>{{ offre_emploi.title }}</td>
                                    <td>{{ offre_emploi.experience }}</td>
                                    <td>{{ offre_emploi.contratType }}</td>
                                    <td>{{ offre_emploi.horaires }}</td>
                                    <td>{{ offre_emploi.region }}</td>
                                    <td>{{ offre_emploi.description|slice(0, 20) }}...</td>
                                    <td>{{ offre_emploi.createdAt ? offre_emploi.createdAt|date('Y-m-d') : '' }}</td>
                                    <td>{{ offre_emploi.statut ? 'Oui' : 'Non' }}</td>
                                    <td>
                                        <a href="{{ path('app_admin_offre_demploi_show', {'id': offre_emploi.id}) }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        <a href="{{ path('app_admin_offre_demploi_edit', {'id': offre_emploi.id}) }}"><i class="fa fa-edit"></i></a>
                                        <form method="post" action="{{ path('app_admin_offre_demploi_delete', {'id': offre_emploi.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre_emploi.id) }}">
                                            <button class="btn"><i class="fa fa-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="12">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
