<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Offre D'emploi{% endblock %}</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        {% block stylesheets %}
            <link rel="icon" type="image/png" href="{{('assets/img/favicon-32x32.png')}}">

            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
            <!-- Custom CSS -->
            <link rel="stylesheet" href="{{asset('assets/admin/css/chartist-plugin-tooltip.css')}}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="{{asset('assets/admin/css/chartist.min.css')}}">
            <link rel="stylesheet" href="{{asset('assets/admin/css/style.min.css')}}">
        {% endblock %}

    </head>
    <body>
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
            {% include "includesAdmin/navbar.html.twig" %}
            {% include "includesAdmin/sidebar.html.twig" %}
            
                {% block body %}
                
                {% endblock %}
            {% include "includesAdmin/footer.html.twig" %}
        </div>
            
        {% block javascripts %}
            <script src="{{ asset('assets/admin/js/jquery.min.js')}}"></script>
            <script src="{{ asset('assets/admin/js/bootstrap.bundle.min.js')}}"></script>
            <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
            <script src="{{ asset('assets/admin/js/app-style-switcher.js')}}"></script>
            <script src="{{ asset('assets/admin/js/jquery.sparkline.min.js')}}"></script>
            <script src="{{ asset('assets/admin/js/waves.js')}}"></script>
            <script src="{{ asset('assets/admin/js/sidebarmenu.js')}}"></script>
            <script src="{{ asset('assets/admin/js/custom.js')}}"></script>
            <script src="{{ asset('assets/admin/js/chartist.min.js')}}"></script>
            <script src="{{ asset('assets/admin/js/chartist-plugin-tooltip.min.js')}}"></script>
            <script src="{{ asset('assets/admin/js/dashboard1.js')}}"></script>
        {% endblock %}
    </body>
</html>
